# Telegram Bot Token (получите у @BotFather)
TELEGRAM_BOT_TOKEN=8986235908:AAHzE_XXAyIxh6FsuxxtSUa5U6fMwim_JpI

# Telegram ID администратора (продавца)
# Узнать свой ID можно через бота @userinfobot
ADMIN_ID=614387190

# Контакт продавца для связи (указываем в уведомлениях о брони)
SELLER_CONTACT=@SellerName